name: CQ

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  code-quality:
    name: Coding standards, code quality and static code analysis
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.4', '8.5']

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run the linter
        run: php ./vendor/bin/php-cs-fixer fix src --dry-run --allow-risky=yes

      # PHPStan did not mention php 8.5 support yet, assuming it is not supported yet
      - name: Run PHPStan
        if: (success() || failure()) && matrix.php-version != '8.5'
        run: php -d memory_limit=1G ./vendor/bin/phpstan analyse -c phpstan.neon --error-format=github > phpstan.json

      - name: Run psalm
        if: success() || failure()
        run: php ./vendor/bin/psalm --output-format=github

  integration-tests:
    name: Test suite and coverage
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.4', '8.5']

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run tests suite
        run: |
          php ./vendor/bin/phpunit --coverage-clover=coverage.xml --coverage-xml=logs/coverage --log-junit=logs/coverage.junit.xml

      - name: Ensure every line is covered by tests
        run: |
          php tests/phpunit-coverage.php 96

      - name: Run infection mutation testing
        run:
          php ./vendor/bin/infection --min-msi=80 --min-covered-msi=85 --threads=max --no-interaction --logger-github=true --skip-initial-tests --coverage=logs